body {
  font-family: "Arial", sans-serif;
  color: #d1d1d1;
  background: #1d1d20;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

.checked {
  color: orange;
}

@keyframes HideShowAnimation {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.main {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .main-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;

    .main-container-inner {
      width: 77.5em;
      height: 47em;
      // border: 0.5em solid lightgreen;
      // border-radius: 0.5em;
      // border-image: linear-gradient(45deg, lightgreen, aqua) 1;

      background:
        radial-gradient(circle at 100% 100%, #1d1d20 0, #1d1d20 5px, transparent 5px) 0% 0%/15px 15px no-repeat,
        radial-gradient(circle at 0 100%, #1d1d20 0, #1d1d20 5px, transparent 5px) 100% 0%/15px 15px no-repeat,
        radial-gradient(circle at 100% 0, #1d1d20 0, #1d1d20 5px, transparent 5px) 0% 100%/15px 15px no-repeat,
        radial-gradient(circle at 0 0, #1d1d20 0, #1d1d20 5px, transparent 5px) 100% 100%/15px 15px no-repeat,
        linear-gradient(#1d1d20, #1d1d20) 50% 50% / calc(100% - 20px) calc(100% - 30px) no-repeat,
        linear-gradient(#1d1d20, #1d1d20) 50% 50% / calc(100% - 30px) calc(100% - 20px) no-repeat,
        linear-gradient(135deg, transparent 75%, #00ffff 80%, #90ee90 100%),
        linear-gradient(315deg, transparent 75%, #90ee90 80%, #00ffff 100%);
      border-radius: 15px;
      padding: 20px;
      box-sizing: content-box;

      .inner-container {
        width: 97.5%;
        height: 96%;
        padding: 2em;

        header {
          display: flex;
          justify-content: space-between;

          div.logo {
            img {
              height: 3em;
              width: 3em;
              // margin-left: -8px;
              transition: all 0.1s ease-in-out;
              border-radius: 50%;
            }

            img:hover {
              cursor: pointer;
              transform: scale(1.2);
            }
          }

          div {
            ul {
              list-style: none;
              display: flex;

              li {
                list-style: none;
                margin-right: 10px;

                a {
                  margin-right: 1.5em;

                  i {
                    // height: 2em;
                    // width: 2em;
                    transition: all 0.1s ease-in-out;
                    border-radius: 25%;
                    color: #777;
                  }

                  i:hover {
                    color: #ccc;
                    transform: scale(1.2);
                  }
                }
              }
            }
          }
        }

        main.info-field {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding-left: 4em;
          width: 70.6em;
          height: 36.8em;

          .text-box {
            flex-basis: 53%;

            div {
              span {
                // For browsers that do not support gradients
                border-left: 3px solid yellow;

                display: block;
                border-image: linear-gradient(180deg, lightgreen, aqua) 1; // border-left: 3px solid linear-gradient(green, yellow);
                padding-left: 0.5em;
                // padding-top: 2em;
              }
            }

            .welcome {
              // display: none;
              opacity: 1;
            }

            // Here needs to come a loop for the --i so that it increases unto 1000 characters

            .link {
              // opacity: 0;
              // display: none;
              position: relative;

              animation: HideShowAnimation 1s linear;

              ul {
                list-style: none;
                max-height: 20em;
                overflow: scroll;

                li {
                  // list-style: none;
                  padding: 0.1em;

                  i {
                    font-size: 0.5em;
                  }

                  h3 {
                    color: #a3d2d5;
                  }
                }
              }
            }


            span {
              padding-left: 0.5em;
              display: inline-block;

              span {
                border: none;
                padding-bottom: 1vh;
              }

              a.cv {
                display: flex;
                justify-content: center;
                width: 10%;
              }

              button {
                position: relative;
                padding: 0.5em;
                color: lightgreen;
                border: 2px solid rgba(0, 0, 0, 0.5);
                border-radius: 0.5em;
                text-shadow: 0 0 15px lightgreen;
                text-decoration: none;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
                transition: 0.5s;
                z-index: 1;
                background: darkgreen;
                cursor: pointer;
                margin-left: 1vh;
              }
              a {
                color: lightgreen;
              }

              button:hover {
                color: #fff;
                border: 2px solid rgba(0, 0, 0, 0);
                box-shadow: 0 0 0px lightgreen;
              }

              button::before {
                content: "";
                border-radius: 0.5em;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: lightgreen;
                z-index: -1;
                transform: scale(0);
                transition: 0.5s;
              }

              button:hover::before {
                transform: scale(1);
                box-shadow:
                  0 0 10px lightgreen,
                  0 0 30px lightgreen,
                  0 0 60px lightgreen;
              }
            }
          }

          //           .spacer {
          //             max-width: 130px;
          // min-width: 90px;
          // flex: 1;
          //           }
          .usefull-links {
            flex-basis: 31%;

            ul {
              list-style: none;

              li {
                list-style: none;
                padding: 0.5em;
                padding-left: 0;

                a {
                  text-decoration: none;
                  color: white;
                  // extra color for browsers that dont support gradients
                  border-bottom: 2px solid yellow;

                  border-image: linear-gradient(45deg, lightgreen, aqua) 1;
                  transition: all 0.1s ease-in-out;
                }

                a:hover {
                  letter-spacing: 0.1em;
                  transform: scale(1.2);
                }
              }
            }
          }
        }
      }
    }
  }
}

// Responsive fixed for standard zoom

// @media screen and (max-height:1956px) {
//   .main {
//     .main-container {

//       .main-container-inner {
//         height: 37em;
//       }
//     }
//   }
// }

// Dark mode media
// @media (prefers-color-scheme: dark) {
//   .main {
//     .main-container {
//       .main-container-inner {
//       }
//     }
//   }
// }

@import "./phone";
@import "./tablet";
